@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gayathri', sans-serif;
}

section {
    text-align: center;
}
#bookName {
    padding: 5px;
    font-size: large;
}
#clear {
    position: relative;
    float: right;
    color: #293241;
    border: 3px solid #98C1D9;
    background-color: white;
    padding: 5px;
}

#header,
footer {
    background-color: #293241;
    color: white;
    padding: 10px;
}

h1 {
    font-size: xx-large;
    padding-top: 20px;
}
#readTitle {
    font-size: x-large;
    border-bottom: 1px solid #3D5A80;
}
input {
    margin: 0px 0px 20px 20px;
}

#addbooks {
    background-color: rgba(238, 108, 77, .9);
    color: white;

}

#addBook {
    position: relative;

    height: 35px;
    width: 60px;
    color: white;
    font-size: x-large;
    background-color: transparent;
    border-collapse: collapse;
    border: none;
}

#addbooks h2 {
    margin: 0px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
}

li {
    font-size: large;
    text-align: left;
    padding-left: 20px;
    color: #293241;
}
ul li.favorite::before {
    content: '\21A3';
    position: relative;
    margin-right: 10px;
    height: 15px;
    width: 7px;
}

.delete {
    display: block;
    float: right;
    content: '\274C';
    margin: 0px 10px 30px 30px;
    padding-right: 20px;
    height: 15px;
    width: 7px;
    border: none;
    background-color: transparent;

}