nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li:first-child {
    display: block;
}
nav ul li {
    background-color: rgb(241, 224, 239);
    border: 1px solid black;
    display: none;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.open li{
    display: block;
}